<!DOCTYPE html>

<html>

<body>
    <p>Range</p>
        <form id="form1">
            <input type="number" id="from" min=0 placeholder="from"><br><br>
            <input type="number" id="to" max=28088 placeholder="to"><br><br>
            <input type="submit" id="click1" value="Find Min">
            <input type="submit" id="click2" value="Find Max">
            <input type="submit" id="click3" value="Find Average">
            <input type="submit" id="click4" value="Show Data">
        </form>
    <p id="result1" maxlength="20">...</p>
    <p>Predict</p>
        <form id="form2">
            <input type="number" id="day" placeholder="day">
            <input type="submit" value="Submit">
        </form>

    <p id="result2" maxlength="20">...</p>

        <script src="js/app.js"></script>
</body>

</html>